.nav-item,
.nav-link,
.dropdown-toggle {
	color: rgb(73, 3, 104);
}
.navbar {
	height: 60px;
}
.brand {
	color: rgb(73, 3, 104);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.brand img,
.flag {
	width: 36px;
	height: 36px;
	border-radius: 50%;
}
.hamburger {
	display: none;
}
.hamburger div {
	width: 23px;
	height: 2px;
	background-color: rgb(73, 3, 104);
}
.hamburger div:last-child {
	margin-top: 6px;
}
.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: blue;
}
.menu-list {
	list-style-type: none;
	margin-top: 10px;
}
.item {
	display: inline;
	margin: 20px;
	margin: 30px;
}

.link {
	text-decoration: none;
}
.container-fluid {
	display: flex;
	align-items: center;
}
.others {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 300px;
	color: rgb(73, 3, 104);
}
.others .btn {
	background-color: rgb(73, 3, 104);
	color: white;
}

.off-canvas {
	position: fixed;
	top: 60px;
	bottom: 0px;
	width: 100vw;
	z-index: 00;
	height: 100vh;
	display: none;
    overflow: scroll;
}

.buttons {
	margin: 0;
}
.buttons .btn:first-of-type {
	background-color: rgb(73, 3, 104);
	color: white;
}
.buttons .btn:last-of-type {
	background-color: rgb(199, 214, 255);
	color: rgb(73, 3, 104);
}

.menu-content span {
	color: rgb(73, 3, 104);
	font-weight: 500;
}
hr {
	opacity: 0.1;
}
.bars {
	position: relative;
	display: none;
}
.cancel {
	position: absolute;
	top: -15px;
	right: 10px;
	display: none;
	color: rgb(73, 3, 104);
}

@media screen and (max-width: 992px) {
	.menu-list {
		display: none;
	}
	.hamburger {
		display: block;
	}
	.others {
		display: none;
	}
	.bars {
		position: relative;
		display: block;
	}
}
